.perfil-container {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #7315ca, 0 0 0 2px #fadb51; 
  }
  
  
  
  
  .modal-container {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: rgba(245, 245, 245, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    z-index: 9999;
  }
  