

.cardContainer {
    border: 1px solid #ccc;
    border-left: 2px solid #A500F7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 88%;
    /* width: fit-content; */


  }

  .cardContainer:hover{
    background: #f8f4f4;
    cursor: pointer;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .details {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
    /* color: #A500F7; */
  }
  
  .specialty {
    /* estilos adicionais para specialty podem ser adicionados aqui */
        /* color: #A500F7; */
        font-weight: 300;
        font-style: normal;
  }
  

  .fc-toolbar-title {
    font-size: 24px; /* Título do Calendário */
  }
  
  .fc-button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }


  .fc-header-toolbar {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0px 0 0px;
  }

  .fc-toolbar {
  }

  .fc-toolbar-ltr{


    /* background: #0070f3; */
    padding: 24px 0px 0 0px;
  }


  .fc-theme-standard{
   padding: 0px 24px 0px 24px;
  }


.cardContainer.selected {
  background-color: #a704f8; /* Cor de fundo para indicar seleção */
  color: aliceblue;
}