.modal-backdrop {
    border: rgba(132, 28, 180, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
  }
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Cor do ícone de fechar */
    font-size: 20px;
  }
  
  .modal-close-btn:hover {
    color: #000; /* Cor do ícone de fechar ao passar o mouse */
  }

  
  .modal-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #7315ca, 0 0 0 2px #fadb51; 
    }
  
  .modal-title {
    color: purple;
  }
  
  .modal-description {
    color: purple;
  }
  
  .modal-logout-btn {
    background-color: rgb(109, 13, 153);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
    align-content: center;
  }
  

  .emailModal{
    margin-bottom: 30px;
  }

  .modal-manage-btn {
    background-color: transparent; 
    color: #111111; 
    border: 2px solid #000000; 
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  
  .modal-manage-btn:focus {
    outline: none;
  }
  
  .modal-manage-btn svg {
    font-size: 18px;
  }

  .modal-close-btn {
    background-color: rgb(255, 255, 255);
    color: rgba(148, 143, 143, 0.753);
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 50px;
    cursor: pointer;
  }