.card_titulo_descricao_icone {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 103px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.card_titulo_descricao_icone .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.card_titulo_descricao_icone .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.card_titulo_descricao_icone .cash {
  color: #2b3674;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 32px;
  margin-top: -1px;
 
  margin-left: 24px;
}

.card_titulo_descricao_icone .label {
  color: #a3aed0;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin-left: 24px;
}

.card_titulo_descricao_icone .img {
  flex: 0 0 auto;
  position: relative;
  margin-right: 24px;
}