body,
html {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  left: 260px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}


.barra-menu{
 align-items: center;
 justify-content: flex-end;
 display: flex;
 gap: 10px;
 cursor: pointer;
 color: cadetblue;
 margin-bottom: 40px;
 width: fit-content;



 .barra-menu-btn{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  background: white;
  border-radius: 4px;

 }
}

.barra-menu-btn:hover{
  color: black;
}


@media only screen and (max-width: 768px) {
  .content {
    margin-top: 12px;
    left: 0;
  }
}