

  .novo_chamado {
    width: fit-content;
    /* height: 32px; */
    border: none;
    background: #a704f8;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
  }

  .novo_chamado:hover {
    background: #7c02b9;
  }


  .ql-container {
    
    > div {
      min-height: 200px;
    }
  }


  .container-chamado{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0 0 0;
  }