

.list-top{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.container-page{
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    gap: 10px;

}

.bt-remover{
    height: 132px;
}


  .custom-tab {
    text-transform: capitalize;
  }


  .class-info{
    padding: 10px;
  }
  
  

  