
/* Esconde a barra de rolagem em todos os navegadores */
html, body {
    overflow: hidden;
  }
  
.list-top{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.container-page{
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 20px;


    .menu-profissionais{
        padding: 18px 0px 0px 20px;
        width: 350px;

        height: 87vh;

        overflow-y: auto; /* Mantém a funcionalidade de rolagem */
        scrollbar-width: none; /* Para Firefox */

        .card-lista-prof{
            /* background: red; */
            height: 54px;
            padding-bottom: 16px;
            align-items: center;
            justify-content: center;
            display: flex;

            .text-item{

            }
        }
    }

    .menu-profissionais::-webkit-scrollbar {
        display: none; /* Para navegadores WebKit */
      }

    .calendario{
        width: 100%;
        height: 100%;


    }
}