/* HorarioList.css */
.gridContainer {
    /* padding: 0px 57px 0px 61px; */
  }
  
  .gridItem {
    display: flex;
    justify-content: center;
  }
  
  .circularProgress {
    color: secondary;
  }
  
  .button {
    width: 100%;
    border: 1px solid #9c27b0;
  }
  
  .buttonSelected {
    color: rgb(120, 28, 148);
    background-color: #9c27b0;
    border: 1px solid #9c27b0;
  }
  
  .buttonNotSelected {
    color: #9c27b0;
    background-color: white;
    border: 1px solid #9c27b0;
  }
  
  .indisponivel {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  