.container {
    padding-bottom: 20px;
 
    overflow-y: auto; /* Mantém a funcionalidade de rolagem */
    scrollbar-width: none; /* Para Firefox */

    .sub-container-geral {


        background: white;
        /* height: 90vh; */
        padding: 20px;
        border-radius: 4px;

        .container-novo {

            display: flex;
            padding: 12px;
            float: right;

            .novo-profissional {
                width: fit-content;
                height: 32px;
                border: none;
                background: #a704f8;
                color: white;
                border-radius: 3px;
                display: flex;
                align-items: center;
                padding: 12px;
                gap: 4px;

            }

            .novo-profissional:hover {
                background: #7c02b9;
            }
        }

        .paginacao{
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}