.card-label-titulo-descricao-icone-indicador {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 168px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.card-label-titulo-descricao-icone-indicador .div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    position: relative;
    width: 161px;
}

.card-label-titulo-descricao-icone-indicador .div-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 78px;
    position: relative;
    width: 161px;
}

.card-label-titulo-descricao-icone-indicador .label {
    color: #a3aed0;
    font-family: "DM Sans", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    margin-left: 24px;
}

.card-label-titulo-descricao-icone-indicador .cash {
    color: #2b3674;
    font-family: "DM Sans", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
    line-height: 32px;
    position: relative;
    width: 100%;
    margin-left: 24px;
}

.card-label-titulo-descricao-icone-indicador .text-wrapper {
    color: #a3aed0;
    font-family: "DM Sans", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 24px;
   
    margin-left: 24px;
}

.card-label-titulo-descricao-icone-indicador .track-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 107px;
    position: relative;
    margin-left: 24px;
}

.card-label-titulo-descricao-icone-indicador .track {
    height: 16px;
    margin-right: -2px;
    position: relative;
}

.card-label-titulo-descricao-icone-indicador .text-wrapper-2 {
    color: #05cd99;
    font-family: "DM Sans", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    left: 22px;
    letter-spacing: -0.32px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
    width: 78px;
}

.card-label-titulo-descricao-icone-indicador .img {
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

.card-label-titulo-descricao-icone-indicador .div-3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    position: relative;
    width: 161px;
}

.card-label-titulo-descricao-icone-indicador .img-2 {
    height: 78px;
    position: relative;
    width: 161px;
    margin-right: 24px;
}

.card-label-titulo-descricao-icone-indicador .precentage {
    height: 16.25px;
    margin-right: -2px;
    position: relative;
    width: 68.96px;
    margin-right: 24px;
}

.card-label-titulo-descricao-icone-indicador .overlap-group {
    height: 16px;
    position: relative;
    width: 67px;
}

.card-label-titulo-descricao-icone-indicador .text-wrapper-3 {
    color: #05cd99;
    font-family: "DM Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 20px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 47px;
}

.card-label-titulo-descricao-icone-indicador .arrow-drop-up {
    height: 14px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 20px;
}

.card-label-titulo-descricao-icone-indicador .div-3 .root-icone {
    height: 78px;
    padding-right: 24px;
    align-items: center;
    display: flex;
}

.card-label-titulo-descricao-icone-indicador .div-3 .root-icone .icone {
    background-color: #F4F7FE;
    width: 56px;
    height: 56px;
    flex: 0 0 auto;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  